html { background-color:#000; font-family: 'prstart'; min-width: 180px; min-height: 320px; }
body { margin:0; overflow: hidden; height: 100%; }
canvas { display: block; width: 100%; height: auto; background-color: #000000; }

#content { margin: 0 auto; display: flex; flex-direction: column; justify-content: center; }
.options { background-color: #fff; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-size: 14px; color: rgba(0, 0, 0, 0.64); padding: 16px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.options #version { position: absolute; top: 4px; right: 8px; font-size: 10px; }
.options img { display: block; max-width: 64px; margin: auto auto 12px; }
.options a { color: inherit; text-align: center; display: block; text-decoration: none; }
.options p#dev-message { font-size: 10px; background-color: #eee; padding: 6px; height: 80px; margin: 0 0 6px; border: 2px solid #c37ae5; box-sizing: border-box; overflow: hidden; }
.options p#dev-message a { display: inline-block; text-decoration: underline; }
.options .switch-input { display: none; }
.options .switch-label { box-sizing: border-box; position: relative; display: inline-block; cursor: pointer; font-weight: 500; text-align: left; padding: 6px 0 6px 44px; user-select: none; width: 100%; line-height: 16px; }
.options .switch-label:before, .switch-label:after { content: ""; position: absolute; margin: 0; outline: 0; top: 50%; transform: translate(0, -50%); transition: all 0.3s ease; }
.options .switch-label:before { left: 1px; width: 34px; height: 14px; background-color: #9E9E9E; border-radius: 8px; }
.options .switch-label:after { left: 0; width: 20px; height: 20px; background-color: #ededed; border-radius: 50%; box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); }
.options .switch-input:checked + .switch-label:before { background-color: #995fb3; }
.options .switch-input:checked + .switch-label:after { background-color: #c37ae5; transform: translate(80%, -50%); }
.options .md-btn { font-family: 'Roboto', Arial, Helvetica, sans-serif; display: block; height: 36px; width: 100%; margin: 6px 0 12px 0; padding: 6px 16px; text-align: center; touch-action: manipulation; cursor: pointer; user-select: none; border: 0; background: #c37ae5; color: #fff; outline: 0; text-transform: uppercase; text-decoration: none; }
.options .md-btn:hover { background: #995fb3; }
.options .material-icons { color: #dc265a; font-size: 16px; vertical-align: middle; animation: 1s ease-in-out throb infinite; } 

@font-face { font-family: icons; src: url('../fonts/Boxel-Icons.ttf'); }
@font-face { font-family: prstart; src: url('../fonts/prstart.woff2') format('woff2'), url('../fonts/prstart.woff') format('woff'), url('../fonts/prstart.ttf') format('truetype'); }
@font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'); }

@keyframes throb { 
    0% { transform: scale(1); }  
	50% { transform: scale(1.25); } 
	100% { transform: scale(1); } 
}